.light-theme {
  background: #fff;
  --heading-color: #000;
  --nav-bg: #eeeeeed5;
  --para-color: #000;
  --toggle-button-bg: #7d35b8a4;
  --button-text-color: #fff;
  --card-bg: #4e75444b;
  --color-navlink: #7700ff;
  --wrapper-bg: #ffd152d5;
  --button-bg: #8844af;
}

.dark-theme {
  background: #111b20;
  --heading-color: #fff;
  --nav-bg: #212b21;
  --para-color: #fff;
  --toggle-button-bg: #fff;
  --button-text-color: #416570;
  --card-bg: #dcecd84f;
  --color-navlink: #b782fc;
  --wrapper-bg: #2747838c;
  --button-bg: #58a74d;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
}

p,
label {
  color: var(--para-color);
}

.bg-nav {
  background: var(--nav-bg);
}

.card-bg {
  background: var(--card-bg);
}

.wrapper {
  background: var(--wrapper-bg);
}