.light-theme {
  background: #fff;
  --heading-color: #000;
  --nav-bg: #b3b3b354;
  --para-color: #000;
  --toggle-button-bg: #416570;
  --button-text-color: #fff;
  --card-bg: #4e75444b;
  --color-navlink: #7700ff;
  --wrapper-bg: #ffd152d5;
}

.dark-theme {
  background: #111b20;
  --heading-color: #fff;
  --nav-bg: #212b21;
  --para-color: #fff;
  --toggle-button-bg: #fff;
  --button-text-color: #416570;
  --card-bg: #dcecd84f;
  --color-navlink: #b782fc;
  --wrapper-bg: #2747836e;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
}

p,
label {
  color: var(--para-color);
}

.bg-nav {
  background: var(--nav-bg);
}

#responsive-navbar-nav a {
  color: var(--color-navlink);
  text-decoration: none;
  margin: 6px;
  font-size: 18px;
}

.card-bg {
  background: var(--card-bg);
}

.wrapper {
  background: var(--wrapper-bg);
}